<div id="header">
	<h1><a href="./dashboard.html">SimpleGym Admin</a></h1>	
		<a id="menu-trigger" href="#"><i class="icon-align-justify"></i></a>	
</div>
		
<div id="search">
	<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search"></i></button>
</div>

<div id="user-nav">
   <ul class="btn-group">
      <li class="btn" ><a title="" href="#"><i class="icon-user"></i> <span class="text">Profile</span></a></li>
      <li class="btn dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon-envelope"></i> <span class="text">Messages</span> <span class="label label-danger">5</span> <b class="caret"></b></a>
       <ul class="dropdown-menu">
         <li><a class="sAdd" title="" href="#">new message</a></li>
         <li><a class="sInbox" title="" href="#">inbox</a></li>
         <li><a class="sOutbox" title="" href="#">outbox</a></li>
         <li><a class="sTrash" title="" href="#">trash</a></li>
       </ul>
      </li>
      <li class="btn"><a title="" href="#"><i class="icon-cog"></i> <span class="text">Settings</span></a></li>
      <li class="btn">
			 <!-- <a title="" href="index.html"><i class="icon-share-alt"></i> <span class="text">Logout</span></a> -->
		   <%= link_to destroy_user_session_path, :method=>'delete' do %>
				 <i class="icon-share-alt"></i> <span class="text">Logout</span> 
		   <% end %>
		  </li>
       </ul>
</div>
     
