<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-custom">

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>SimpleGym</h1>
        <p>managing your gym should not be a workout</p>
        <p><%= link_to "Get Started »", new_registration_path('user'), class: 'btn btn-success btn-lg' %></p>
      </div>
      <div class="col-lg-6">
        <p>screenshots here</p>
      </div>
    </div>

  </div>

</div>