<h1>Member Profile</h1>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit Profile', edit_user_registration_path , :class => 'btn btn-mini btn-primary' %>

